
.ui-toolbar-group-left {
    display: flex;
    align-items: center;
    > span {
      margin-left: 8px;
      font-size: 18px;
      font-weight: bold;
    }

}

::ng-deep {

    .test.ui-toolbar {
        border: none;
        border-radius: 0;
    }
}
