@import "~@al/design/styles/palette";
@import "~@al/design/styles/utility";
@import "./paletteClassNames";
@import "./utilities";

// TODO - below should live in @al/design (core theme style)??x
html,
body {
  background-color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  color: al-color($al-gray, 500);

  .ui-dropdown {
    background-image: linear-gradient(to bottom, #57a0d7, #57a0d7),
      linear-gradient(to bottom, #748090, #748090);

    &.ui-inputtext {
      font: 1em 'Open Sans', Arial, sans-serif;
    }
  }
}


/*
* Global colours for product protection coverage
*/

.enterprise rect,
path.enterprise,
.enterprise {
  fill: al-color($al-enterprise, 500);
}

.professional rect,
path.professional,
.professional {
  fill: al-color($al-professional, 500);
}

.essential rect,
path.essential,
.essential {
  fill: al-color($al-essentials, 500);
}

.unprotected rect,
path.unprotected,
.unprotected {
  fill: al-color($al-gray, 50);
}

al-dashboard-widget {
  tspan.highcharts-text-outline {
    stroke: transparent;
  }

  g.highcharts-label {
    font-size: 14px;
  }
}

/*
* Global colours for severity level
*/
.critical rect,
path.critical,
rect.critical,
.critical .highcharts-area,
.critical .highcharts-halo,
.highcharts-column-series.critical rect,
.highcharts-pie-series .highcharts-point.critical,
.highcharts-tracker.critical path {
  fill: al-color($al-red, 500);
}
.highcharts-data-label-connector.critical,
.highcharts-line-series.critical {
  stroke: al-color($al-red, 500);
  fill: none;
}

.medium rect,
path.medium,
rect.medium,
.medium .highcharts-area,
.medium .highcharts-halo,
.highcharts-column-series.medium rect,
.highcharts-pie-series .highcharts-point.medium,
.highcharts-tracker.medium path {
  fill: al-color($al-orange, 500);
}
.highcharts-data-label-connector.medium,
.highcharts-line-series.medium {
  stroke: al-color($al-orange, 500);
  fill: none;
}

.low rect,
path.low,
rect.low,
.low .highcharts-area,
.low .highcharts-halo,
.highcharts-column-series.low rect,
.highcharts-pie-series .highcharts-point.low,
.highcharts-tracker.low path,
.low.highcharts-point-hover {
  fill: al-color($al-yellow, 500);
}
.highcharts-data-label-connector.low,
.highcharts-line-series.low {
  stroke: al-color($al-yellow, 500);
  fill: none;
}

.highcharts-series-hover.highcharts-markers {
  path:nth-of-type(2) {
    fill: black;
  }
}

.info rect,
path.info,
rect.info,
.info .highcharts-area,
.info .highcharts-halo,
.highcharts-column-series.info rect,
.highcharts-line-series.info,
.highcharts-pie-series .highcharts-point.info,
.highcharts-tracker.info path {
  fill: al-color($al-gray, 300)
}
.highcharts-data-label-connector.info,
.highcharts-line-series.info {
  stroke: al-color($al-gray, 300);
  fill: none;
}

.info2 rect,
path.info2,
rect.info2,
.info2 .highcharts-area,
.info2 .highcharts-halo,
.highcharts-column-series.info2 rect,
.highcharts-line-series.info2,
.highcharts-pie-series .highcharts-point.info2,
.highcharts-tracker.info2 path {
  fill: al-color($al-gray, 500);
}
.highcharts-data-label-connector.info2 {
  stroke: al-color($al-gray, 500);
  fill: none;
}

.highcharts-area-series {
  fill: none;
  stroke: none;
}
.highcharts-minor-grid-line {
  stroke: none;
}

/*
* Global Health Status
*/
.healthy rect,
path.healthy {
  fill: al-color($al-green, 500);
  stroke: al-color($al-green, 500);
}

.unhealthy rect,
path.unhealthy {
  fill: al-color($al-red, 500);
  stroke: al-color($al-red, 500);
}

/*
* Global dark theme toggle
*/
.darkMode,
.darkModeBlue {
  .dashboard-widget {
    background-color: #3C3C3C !important;

    h1,
    a,
    .count-container,
    th,
    td,
    tr {
      background-color: #3C3C3C !important;
      color: al-color($al-gray, 50) !important;
      &.status {
        &.Critical, &.critical {
          color: al-color($al-red, 600);
        }

        &.High, &.high {
          color: al-color($al-orange, 500);
        }

        &.Medium, &.medium {
          color: al-color($al-yellow, 500);
        }

        &.Low, &.low {
          color: al-color($al-gray, 300);
        }
      }
    }
    td.multiline-content > div {
      @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 2, $bgColor: #3C3C3C);
    }

    .highcharts-pie-series .highcharts-point {
      stroke: #3C3C3C;
    }
    .ui-button.flat {
      .ui-button-text {
        color: al-color($al-gray, 50);
      }
      &:hover {
        background-color: al-color($al-gray, 500, 0.25)!important;
      }
    }
  }

  al-detailed-table-list td, al-detailed-table-list th {
    border-bottom: 1px solid al-color($al-gray, 50, 0.5) !important;
  }

  al-count-summary {
    .count-container span {
      color: al-color($al-gray, 50) !important;
    }
  }

  .highcharts-background {
    fill: #3C3C3C;
  }

  .highcharts-grid-line {
    stroke: #3C3C3C
  }

  .highcharts-tooltip text {
    fill: #3C3C3C;
  }

  svg {
    text {
      fill: #CBCBCB;
    }

    g text,  g text tspan {
      fill: white;
    }

    rect.highcharts-point {
      stroke: #3C3C3C;
    }
  }

  .highcharts-data-label span {
    dt, dd {
      color:  al-color($al-gray, 50);
    }
  }
  .dropdowns {

    label,
    button,
    span {
      color: al-color($al-gray, 50) !important;

      &.ui-menuitem-icon,
      &.ui-menuitem-text {
        color: al-color($al-gray, 700) !important;
      }
    }

    li span {
      color: black !important;
    }

    .ui-state-highlight span {
      color: white !important;
    }

    .ui-slidemenu-backward span {
      color: al-color($al-gray, 700) !important;
    }
  }

  .nav-header-bar {
    background-color: al-color($al-gray, 700) !important;
    color: al-color($al-gray, 50) !important;
  }

  .user-info-summary {
    background-color: al-color($al-gray, 900) !important;
    .ui-menubar.ui-widget.ui-widget-content.ui-corner-all,
    a.ui-menuitem-link.ui-corner-all.ng-star-inserted,
    .ui-submenu-icon {
      background-color: al-color($al-gray, 900) !important;
    }
  }

  al-app-header {

    .ui-menubar.ui-widget.ui-widget-content,
    a.ui-menuitem-link,
    span.ui-submenu-icon,
    :hover.ui-menubar.ui-widget.ui-widget-content,
    :hover a.ui-menuitem-link,
    :hover span.ui-submenu-icon {
      background-color: al-color($al-gray, 900) !important;
    }

    ul.ui-widget-content a.ui-menuitem-link {
      background-color: white !important;

      span {
        color: al-color($al-gray, 700) !important;
      }
    }
  }

  svg {
    path.zero-state {
      fill: al-color($al-gray, 50);
    }
  }
  tbody {
    tr:hover {
      td {
        background-color: al-color($al-gray, 400) !important;
        &.multiline-content > div {
          @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 2, $bgColor: al-color($al-gray, 400));
        }
      }
    }
  }
  al-highmap-chart {
    svg g text {
      stroke: #868686 !important;
    }

    path.highcharts-button-box {
      fill: al-color($al-gray, 500);
    }
    .highcharts-map-series .highcharts-point {
      stroke: al-color($al-gray, 300) !important;
      fill: #585858 !important;
    }
  }
  .highcharts-series-hover.highcharts-markers path:nth-of-type(2) {
    fill: white;
  }
}

/*
* Generic chart styling
*/
path.highcharts-grid-line {
  stroke: transparent;
}

.scanned rect,
path.scanned,
.scanned {
  fill: al-color($al-green, 500);
}

.not-scanned rect,
path.not-scanned,
.not-scanned {
  fill: al-color($al-gray, 500);
}

svg {
  path.zero-state {
    fill: al-color($al-gray, 50);
  }
}

al-highchart-treemap {
  .highcharts-data-label text {
    fill: white;
  }
}

al-app-header {
  ul.ui-widget-content a.ui-menuitem-link {
    span {
      color: al-color($al-gray, 700) !important;
    }
  }
}

/*
* SAMPLE BLUE COLOURING
*/
.blueTheme {

  .dashboard-widget {
    background-color: #2A3849 !important;

    header {
      border-bottom: 1px solid #566578 !important;
    }

    footer {
      border-top: 1px solid #566578 !important;
    }

    h1 {
      color: al-color($al-gray, 50) !important;
      background-color: #2A3849 !important;
    }

    a,
    .count-container,
    th,
    td,
    tr {
      background-color: #2A3849 !important;
      color: al-color($al-gray, 50) !important;

      &.status {
        &.Critical, &.critical {
          color: #F04349;
        }

        &.High, &.high {
          color: #C84049;
        }

        &.Medium, &.medium {
          color: #A13E48;
        }

        &.Low, &.low {
          color: #793C49;
        }
      }
    }
    td.multiline-content > div {
      @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 2, $bgColor: #2A3849);
    }

    tbody {
      tr:hover {
        td {
          background-color: #6883A4 !important;
          &.multiline-content > div {
            @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 2, $bgColor: #6883A4);
          }
        }
      }
    }

    .highcharts-pie-series .highcharts-point {
      stroke: #3C3C3C;
    }
    .ui-button.flat {
      .ui-button-text {
        color: al-color($al-gray, 50);
      }
      &:hover {
        background-color: al-color($al-blue, 600, 0.25)!important;
      }
    }
  }
  svg {
    g text, g text tspan {
      fill: al-color($al-gray, 50)
    }
    text {
      fill: al-color($al-gray, 50);
    }
  }

  .highcharts-data-label span {
    dt, dd {
      color:  al-color($al-gray, 50);
    }
  }

  .dropdowns {
    label,
    button,
    span {
      color: al-color($al-gray, 50) !important;

      &.ui-menuitem-icon,
      &.ui-menuitem-text {
        color: al-color($al-gray, 700) !important;
      }
    }

    li span {
      color: al-color($al-gray, 700) !important;
    }

    .ui-state-highlight span {
      color: al-color($al-gray, 50) !important;
    }

    .ui-slidemenu-backward span {
      color: al-color($al-gray, 700) !important;
    }
  }
  /*
  * Global Health Status
  */
  .healthy rect,
  path.healthy {
    fill: #1592E6;
    stroke: #1592E6;
  }

  .unhealthy rect,
  path.unhealthy {
    fill: #566578;
    stroke: #566578;
  }

  /*
  * Global colours for severity level
  */
  .critical rect,
  path.critical,
  rect.critical,
  .critical .highcharts-area,
  .highcharts-point.critical {
    fill: #F04349;
    stroke: none;
  }

  .high rect,
  path.high,
  rect.high,
  .high .highcharts-area,
  .highcharts-point.high {
    fill: #F04349;
    stroke: none;
  }

  .medium rect,
  path.medium,
  rect.medium,
  .medium  .highcharts-area,
  .highcharts-point.medium {
    fill: #C84049;
    stroke: none;
  }

  .low rect,
  path.low,
  rect.low,
  .low .highcharts-area,
  .highcharts-point.low {
    fill: #A13E48;
    stroke: none;
  }

  .info rect,
  path.info,
  rect.info
  .info .highcharts-area,
  .highcharts-point.info {
    fill: #793C49;
    stroke: none;
  }

  .info2 rect,
  path.info2,
  rect.info2,
  .info2 .highcharts-area,
  .highcharts-point.info2 {
    fill: #5C3A49;
    stroke: none;
  }

  .scanned rect,
  path.scanned,
  .scanned {
    fill: #1592E6;
  }

  .not-scanned rect,
  path.not-scanned,
  .not-scanned {
    fill: #566578;
  }

  .nav-header-bar {
    background-color: #2A3849 !important;
    color: al-color($al-gray, 50) !important;
  }

  .user-info-summary {
    background-color: #1E2B38 !important;

    .ui-menubar.ui-widget.ui-widget-content.ui-corner-all,
    a.ui-menuitem-link.ui-corner-all.ng-star-inserted,
    .ui-submenu-icon {
      background-color: #1E2B38 !important;
    }
  }

  al-app-header {

    .ui-menubar.ui-widget.ui-widget-content,
    a.ui-menuitem-link,
    span.ui-submenu-icon,
    :hover.ui-menubar.ui-widget.ui-widget-content,
    :hover a.ui-menuitem-link,
    :hover span.ui-submenu-icon {
      background-color: #1E2B38 !important;
    }

    ul.ui-widget-content a.ui-menuitem-link {
      background-color: white !important;

      span {
        color: #2A3849 !important;
      }
    }
  }

  .highcharts-background {
    fill: #2A3849;
  }

  svg {
    path.zero-state {
      fill: #6883A4;
    }
  }

  al-count-summary {
    .count-container span {
      color: #6883A4 !important;
    }
  }

  .ui-button {
    color: #ffffff;
    background-color: #536984;

    &:enabled:hover {
      background-color: #3F546E;
    }

    &:enabled:not(:focus):hover {
      background-color: #3F546E;
    }

    &:enabled:focus {
      background-color: lighten(#536984, 10%);
    }

    &:enabled:focus {
      background-color: #3F546E;
    }
  }


  .dashboard-widget {
    background-color: #2A3849 !important;

    header {
      border-bottom: 1px solid #566578 !important;
    }

    footer {
      border-top: 1px solid #566578 !important;
    }

    h1 {
      background-color: #2A3849 !important;
    }

    a,
    .count-container,
    th,
    td,
    tr {
      background-color: #2A3849 !important;
      color: al-color($al-gray, 50) !important;

      &.status {
        &.Critical, &.critical {
          color: #F04349;
        }

        &.High, &.high{
          color: #C84049;
        }

        &.Medium, &.medium {
          color: #A13E48;
        }

        &.Low, &.low {
          color: #793C49;
        }
      }

    }

    .highcharts-pie-series .highcharts-point {
      stroke: #3C3C3C;
    }
    .highcharts-column-series rect.highcharts-point {
      stroke: #3C3C3C;
    }
    .highcharts-series-hover.highcharts-markers path:nth-of-type(2) {
      fill: white;
    }
  }

  /*
  * Global Health Status
  */
  .healthy rect,
  path.healthy {
    fill: #1592E6;
    stroke: #1592E6;
  }

  .unhealthy rect,
  path.unhealthy {
    fill: #566578;
    stroke: #566578;
  }

  /*
  * Global colours for severity level
  */
  .critical rect,
  path.critical,
  rect.critical {
    fill: #F04349;
    stroke: none;
  }

  .high rect,
  path.high,
  rect.high {
    fill: #F04349;
    stroke: none;
  }

  .medium rect,
  path.medium,
  rect.medium {
    fill: #C84049;
    stroke: none;
  }

  .low rect,
  path.low,
  rect.low {
    fill: #A13E48;
    stroke: none;
  }

  .info rect,
  path.info,
  rect.info {
    fill: #793C49;
    stroke: none;
  }

  .info2 rect,
  path.info2,
  rect.info2 {
    fill: #5C3A49;
    stroke: none;
  }

  .scanned rect,
  path.scanned,
  .scanned {
    fill: #1592E6;
  }

  .not-scanned rect,
  path.not-scanned,
  .not-scanned {
    fill: #566578;
  }
  al-highchart-line {
    .highcharts-line-series.critical {
      stroke: #F04349;
      fill: none;
    }
    .highcharts-line-series.high {
      stroke: #F04349;
      fill: none;
    }
    .highcharts-line-series.medium {
      stroke: #C84049;
      fill: none;
    }
    .highcharts-line-series.low {
      stroke: #A13E48;
      fill: none;
    }
    .highcharts-line-series.info {
      stroke: #793C49;
      fill: none;
    }
    .highcharts-line-series.info2 {
      stroke: #5C3A49;
      fill: none;
    }
  }
  .nav-header-bar {
    background-color: #2A3849 !important;
    color: al-color($al-gray, 50) !important;
  }

  .user-info-summary {
    background-color: #1E2B38 !important;
  }

  al-app-header {

    .ui-menubar.ui-widget.ui-widget-content,
    a.ui-menuitem-link,
    span.ui-submenu-icon,
    :hover.ui-menubar.ui-widget.ui-widget-content,
    :hover a.ui-menuitem-link,
    :hover span.ui-submenu-icon {
      background-color: #1E2B38 !important;
    }

    ul.ui-widget-content a.ui-menuitem-link {
      background-color: white !important;

      span {
        color: #2A3849 !important;
      }
    }
  }

  .highcharts-background {
    fill: #2A3849;
  }

  svg {
    path.zero-state {
      fill: #6883A4;
    }
  }

  al-count-summary {
    .count-container span {
      color: #6883A4 !important;
    }
  }

  .ui-button {
    color: #ffffff;
    background-color: #536984;

    &:enabled:hover {
      background-color: #3F546E;
    }

    &:enabled:not(:focus):hover {
      background-color: #3F546E;
    }

    &:enabled:focus {
      background-color: lighten(#536984, 20%);
    }

    &:enabled:focus {
      background-color: #3F546E;
    }
  }
  tbody {
    tr:hover td {
      background-color: #6883A4 !important;
    }
  }
  al-highmap-chart {
    svg g text {
      stroke: white !important;
    }

    path.highcharts-button-box {
      fill: #536984;
    }
    .highcharts-map-series .highcharts-point {
      stroke: #6883A4 !important;
      fill: #556577 !important;
    }
  }
}

.highcharts-tooltip-box {
  stroke: al-color($al-gray, 500);
  fill: white;
  min-width: 200px;
}

.highcharts-tooltip {
  filter: none !important;

  span.description {
    font-weight: lighter;
    color: al-color($al-gray, 300);
    font-size: 12px
  }
  span.detail {
    color: al-color($al-gray, 700);
    font-size: 12px
  }
}

.bubble-container, .mapChart-container {
  .highcharts-data-labels {
    text-align: center;
  }
}
.mapChart-container {
  path.highcharts-point.source {
    opacity: 0.75;
    fill: al-color($al-purple, 400);
    stroke: al-color($al-purple, 400);
  }

  path.highcharts-point.target {
    opacity: 0.75;
    fill: al-color($al-blue, 900);
    stroke: al-color($al-blue, 900);
  }
  g.highcharts-data-label text {
    font-size: 10px;
    text-anchor: middle;
  }
}
path.highcharts-pane {
  fill-opacity: 0.25;
}
.highcharts-area {
  fill-opacity: 1;
}
rect.segment-outline {
  outline-width: 2px;
  outline-offset: -3px;
  outline-style: solid;
  outline-color: al-color($al-purple, 500);
}

body .ui-tooltip.count-tooltip {
	font-size: 12px;
	left: 45% !important;
	top: 50px !important;
	.ui-tooltip-text {
    background-color: rgba(255, 255, 255, .8);
    padding: .75em;
		color: black;
	}
	.ui-tooltip-arrow {
		border-top-color: rgba(255, 255, 255, .8);
		border-width: .35em .35em 0;
		bottom: 0;
	}
}

