@import "~@al/design/styles/palette";
@import "~@al/design/styles/utility";

// TODO - below should live in @al/design (core theme style)??x
html, body{
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight:normal;
  font-size:14px;
  margin: 0;
  color: al-color($al-gray, 500);
}

/*
* Global colours for product protection coverage
*/

.enterprise rect,  path.enterprise, .enterprise {
  fill: al-color($al-enterprise, 500);
}
.professional rect, path.professional, .professional {
  fill: al-color($al-professional, 500);
}
.essential rect, path.essential, .essential {
  fill: al-color($al-essentials, 500);
}
.unprotected rect, path.unprotected, .unprotected {
  fill: al-color($al-gray, 50);
}
al-dashboard-widget {
  tspan.highcharts-text-outline {
    stroke: transparent;
  }
  g.highcharts-label {
    font-size: 14px;
  }
}
/*
* Global colours for severity level
*/
.high rect, path.high, rect.high {
  fill: al-color($al-red, 600);
  stroke: none;
}
.medium rect, path.medium, rect.medium {
  fill: al-color($al-orange, 500);
  stroke: none;
}
.low rect, path.low, rect.low {
  fill: al-color($al-yellow, 500);
  stroke: none;
}
.info rect, path.info, rect.info {
  fill: al-color($al-gray, 50);
  stroke: none;
}

/*
* Global Health Status
*/
.healthy rect, path.healthy {
  fill: al-color($al-green, 500);
  stroke: al-color($al-green, 500);
}
.unhealthy rect, path.unhealthy {
  fill: al-color($al-red, 500);
  stroke: al-color($al-red, 500);
}

/*
* Global dark theme toggle
*/
.darkMode {
  .dashboard-widget {
    background-color: #3C3C3C !important;
  
    h1, a, .count-container, th, td {
      background-color: #3C3C3C !important;
      color: al-color($al-gray, 50) !important;

      &.status {
        &.Critical {
          color: al-color($al-red, 600);
        }
        &.High {
            color: al-color($al-orange, 500);
        }
        &.Medium {
            color: al-color($al-yellow, 500);
        }
        &.Low {
            color: al-color($al-gray, 300);
        }
      }
    }
    .highcharts-pie-series .highcharts-point {
      stroke: #3C3C3C;
    }
  }

  al-count-summary {
    .count-container span{
      color: al-color($al-gray, 50) !important;
    }
  }
  .highcharts-background {
    fill: #3C3C3C;
  }
  .highcharts-grid-line {
    stroke: #3C3C3C
  }
  .highcharts-tooltip text {
    fill: #3C3C3C;
  }

  svg {
    text {
      fill: #CBCBCB;
    }
    rect.highcharts-point {
      stroke: #3C3C3C;
    }
  }
  .dropdowns {
    label, button {
      color: al-color($al-gray, 50) !important;
    }
  }
  .nav-header-bar {
    background-color: al-color($al-gray, 700) !important;
    color: al-color($al-gray, 50) !important;
  }
  .user-info-summary {
    background-color: al-color($al-gray, 900) !important;
  }

  al-app-header  {
    .ui-menubar.ui-widget.ui-widget-content, a.ui-menuitem-link, span.ui-submenu-icon {
      background-color: al-color($al-gray, 900) !important;
    }
  }
}

/*
* Generic chart styling
*/
path.highcharts-grid-line {
  stroke: transparent;
}

.scanned rect, path.scanned, .scanned {
  fill: al-color($al-green, 500);
}
.not-scanned rect, path.not-scanned, .not-scanned {
  fill: al-color($al-gray, 500);
}

al-highchart-treemap {
  .highcharts-data-label text {
    fill: white;
  }
}