<p-card>
    <al-dropdown-filter [filterOptions]="dashboards"></al-dropdown-filter>
</p-card>
<p-card>
    <al-highchart-column [config]="mockColumnData"></al-highchart-column>
</p-card>

<p-card>
    <al-highchart-column [config]="mockColumnDataRedOrange"></al-highchart-column>
</p-card>

<p-card>
    <al-highchart-semi-circle [config]="mockSemiCircleData"></al-highchart-semi-circle>
</p-card>

<p-card>
    <al-highchart-treemap [config]="mockTreeMap"></al-highchart-treemap>
</p-card>

<p-card>
    <al-highchart-area-graph [config]="mockAreaChart"></al-highchart-area-graph>
</p-card>

<p-card>
    <al-highchart-bar [config]="mockBarChart"></al-highchart-bar>
</p-card>

<p-card>
    <al-highchart-bubble [config]="bubbleMock"></al-highchart-bubble>
</p-card>